[Unit]
Description=Weekly Automatic Reboot Service
Documentation=man:systemctl(1)

[Service]
Type=oneshot
EnvironmentFile=/etc/weekly-reboot.env
ExecStart=/usr/local/bin/notify-and-reboot.sh
